* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
font-family: "Josefin Sans", sans-serif;
 

header {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    justify-content: space-around;
}

.row {
    display: flex;
    column-gap: 50px;
    width: 30% 
    justify-content(space-between);
    padding: 30px 300px
}

.nav_lists {
    display: flex;
    gap: 5px;
    width: 50%;
    justify-content: space-around;
    font-family: "Edu AU VIC WA NT Pre", cursive;

}

.home {
    color: #FB2E86;
}

.search form {
    display: flex;
    border: 2px solid #E7E6EF;
}

.search input {
    padding: 5px 20px;
}

.search button {
    border: 0;
    padding: 4px;
    background-color: #FB2E86;
}

.one {
    padding: 0;
    background-color: #F2F0FF;
    display: flex;

}

.best {
    font-size: 13px;
    color: #FB2E86;
    font-family: "Edu AU VIC WA NT Pre", cursive;

}

.shop_button {
    width: fit-content;
    background-color: #FB2E86;
    padding: 4px 10px;
    color: #E7E6EF;
    font-family: "Edu AU VIC WA NT Pre", cursive;;


}

.title {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 30%;
    flex-grow: 1;
    max-width: 60%;

}

.parg {
    font-size: 12px;
    font-family: "Edu AU VIC WA NT Pre", cursive;;
}

.maintitle {
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1.5%;
    font-weight: 100px;
}

.lamp {
    position: relative;
    bottom: 30px;
}


.Rhombuss{
    display: flex;
    margin: auto;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.Rhombus1{
    width: 6px;
    height: 6px;
    background-color: #FB2E86;
    margin-bottom: 20px;
    transform: rotate(45deg);
    border: .5px solid palevioletred;


}
.Rhombus{
    width: 6px;
    height: 6px;
    background-color:#EEEFFB;
    border: .5px solid palevioletred;
    margin-bottom: 20px;
    transform: rotate(45deg);
}

.two {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    justify-content: center;
    align-items: center;
}

.titletwo {
    color: #1A0B5B;
    font-family: "Josefin Sans", sans-serif;

}

.chairs {
    display: flex;
    column-gap: 20px;
    flex-grow: 4;
    max-width: 70%;
}

.card {
    background-color: #0000001A;
     border: #FFFFFF;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
}

.symbols{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 8px;
    visibility:hidden;
}
.visiblesymbol{
    gap: 5px;
    margin-bottom: 8px;
   
}
.visiblesymbol1{
    width: 7px;
    height: 7px;
}
.symbol{
    width: 7px;
    height: 7px;
}

.card:hover {
    background-color: #2F1AC4;
    .symbols{opacity: 1;
    visibility:visible;}
}

.chh2 {
    color: #FB2E86;
    font-size: 10px;
    font-family: "Edu AU VIC WA NT Pre", cursive; 

}

.chp {
    color: #151875;
    font-size: 10px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    


}

.chspan {
    color: #151875;
    font-size: 10px;
    font-family: "Edu AU VIC WA NT Pre", cursive; 

}

.chimg {
    background-color: #F6F7FB;
    height: 90px;
    width: 100%;
}

.chinf {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 90px;
    margin-top: 10px;

}

.view-details {
    position: absolute;
    background-color: #08D15F;
    font-size: 7px;
    font-family: "Josefin Sans", sans-serif;
    color: #F2F0FF;
    padding: 5px 5px;
}
.dashs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.dash{
    width: 8px;
    height: 2.5px;
    background-color: #d58babb4;
    border-radius: 80%;

}
.Idash{
    width: 12px;
    height: 2.5px;
    background-color: rgb(251, 46, 134 ) ;
    border-radius: 80%;
}

.last-product .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:30px;
}
.Leatest-title{
    font-family: "Josefin Sans", sans-serif;
    color: #1A0B5B;
}
.nav_product{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    font-size: 9px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.New-Arrival{
    color:#FB2E86;
    text-decoration:underline;
}
.sofa-last-product{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    row-gap:50px;
}
@media (max-width:1150px) {
    .sofa-last-product{
        display: flex;
        gap: 20px;
        width: 100%;   

     };}   
 
@media (max-width:1000px) {
    .sofa-last-product{
        flex-direction: column;
        responsive-box{width:80%};
        font-size: smaller;}   
}  

.leatestsympol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 12px;
    top: 40px;
    visibility:visible;
}

.sofaimg:hover { 
       visibility:visible;
       background-color: #2F1AC4;
       .symbols{opacity:1;
        visibility:visible;}

}

.sofa-card{
    width: 30%;
    text-align: center;
    height: max-content;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.sofaimg{
    background-color:#EEEFFB;
    height: 150px;
    width: 170px;
    animation: zoom 2s ;
    transform-origin: center;
}
@keyframes zoom{
    0%{transform: scale(1);}
    50%{ transform: scale(1.2);}
    100%{transform: scale(1);}
}
.sofa-inf{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 8px;
    justify-content:flex-start;
    gap: 10px;
    align-items: center;
    color: #1A0B5B;
}
@media (max-width:900px){
    .sofa-inf{
        display: none;
    }
}
.discount{
    color:#FB2E86;
    text-decoration-line: underline;
}

.UniqueFeatures{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F0FF;
    margin: auto;
}
.Uniqueimg{
    width: 300px;
    height: 300px;
}

.UniqueFeatures-inf {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 40%;
gap: 15px;
}
.UniqueFeaturesh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-weight:bold;
    font-size:18px;
}
.UniqueFeaturesli{
    color: #ACABC3;
    font-size: 13px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.cartaction{
    display: flex;
    gap: 10px;
    justify-content:flex-start;
    align-items: flex-start;
    }
.cart{
    display: flex;
    background-color: #FB2E86;
    color: #FFFFFF;
    padding:  5px 10px;
    border-color: #FB2E86;

}
.Italian-Sofa{
    color:#151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
}
.Italian-Sofaspans{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Italian-Sofaspan{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 11px;

}


.Trending-Products{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Trending-Productsh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;

}
.Trending-Product{
    padding: 7px;
    box-shadow: #31208A0D;
    box-shadow: 1px 2px 2px 1px  rgba(20, 20, 20, 0.175);

}
.Trending-Productsimg{
    background-color:#F5F6F8;
    width:140px;
    height: 140px;
}
.Trending-Products-inf{
    color: #151875;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Edu AU VIC WA NT Pre", cursive
    


}
.Trending-Productslist{
    gap: 15px;
    display: flex;
}
@media (max-width:600px) {
    .Trending-Productslist{flex-direction: column;}   
}   

.Discount-Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Discount-Itemh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
}
.Eams-Sofaspan{
    color: #FB2E86;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}
.Discount-Iteminfparg{
    color: #B7BACB;
    font-size: 13px;
    font-family: "Edu AU VIC WA NT Pre", cursive
}
.Discount-Iteminfli{
    display: flex;
    height: 50px;
    color: #B7BACB;
    font-size: 13px;
    list-style-type:symbols();
    flex-wrap: wrap;
    font-family: "Edu AU VIC WA NT Pre", cursive
}
.nav_itemlists{
    display: flex;
    gap: 10px;
    font-size: 10px;
}
.inf-img{
    display: flex;
    width: 70%;
}
@media (max-width:600px) {
    .inf-img{
        flex-direction: column;
        responsive-box{width:80%};}   
}  
.Discount-Iteminf{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}
.Discountimg{
    width: 350px;
    height: 350px;
    animation:spine 4s ;
}
@keyframes spine{
    form{transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.ShopNow{
    background-color: #FB2E86;
    color: #EEEFFB;
    width:fit-content;
    padding:6px 16px ;
    font-size: 13px;
    margin-top: 30px;
}

.Top-Categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.Top-Categoriesh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
}
.TopCategories-inf{
    display: flex;
    gap: 20px;
}
.topchairinf{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 30%;
}
.topchairimg{
    height: 100px;
    width: 100px;
    background-color: #F6F7FB;
    border-radius: 50%;
    padding: 20px 20px;
    box-shadow: .1px .2px 5px 1px  rgba(20, 20, 20, 0.103);
}
.topchairimg1{
    height: 100px;
    width: 100px;
    background-color: #F6F7FB;
    border-radius: 50%;
    padding: 20px 20px;
    box-shadow: -3.5px 5px 1px 1px  rgb(152, 119, 231);
}
.viewshop{
    background-color:#08D15F;
    padding: 3px 4px;
    position: relative;
    font-size: 8px;
    color: #E7E6EF;
    bottom: 43px;
}
.topchaircard{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;

}
.circles{
    display: flex;
    margin: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
}
.circle1{
    width: 6px;
    height: 6px;
    background-color: #FB2E86;
    border-radius: 50%;
    margin-bottom: 20px;
    border:.3px solid #FB2E86;
}
.circle{
    width: 6px;
    height: 6px;
    background-color:#EEEFFB;
    border: .3px solid palevioletred;
    border-radius: 50%;
    margin-bottom: 20px;
}

.Newslater{
    background-image: url(./img/background.jpeg);
    background-position: -500px 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 250px 200px;
    margin-bottom:50px ;

}
.Newslaterh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    animation: slide 2s 1s ease-in-out;
}
@keyframes slide{
    from { width: 0;
        color:#FB2E86;
        border-color: transparent;

    }
    to {width: 70%;
        color: #151875;
    }
  
}
.Newslatershop{
    background-color: #FB2E86;
    color: #E7E6EF;
    font-family: "Josefin Sans", sans-serif;
    padding:10px 20px;
    font-size: 10px;
}


.markpic{
   display: flex;
    margin: auto;
    width: 500px;
    padding: 30px 30px;
}


.Leatest-Blogpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Leatest-Blogcard{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px 1px rgba(165, 158, 158, 0.092);
    border-radius: 10px;
}
@media (max-width:800px;){
.Leatest-Blogcards{
    flex-direction: column;
flex-wrap: wrap;
}    }
    

.Leatest-Blogh1{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    padding: 6px;

}
.Leatest-Blogcards{
    display: flex;
    gap: 40px;
    width: 30%;
    justify-content: center;
}
@media (max-width:900px){
.Leatest-Blogcards{ display: flex;
    flex-direction: column;
    width: 230px;}}

.Leatest-Blogcardh2{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    padding: 6px;
}
.redLeatest-Blogcardh2{
    color: #FB2E86;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    padding: 6px;
}
.Leatest-Blogcardspan{
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    margin-right: 10px;
    }
.Leatest-Blogcardinf{
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.Leatest-Blogcardparg{
    color: #72718F;
    font-size:10px ;
    padding: 6px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.more{
    color: #151875;
    text-decoration: underline;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size:12px ;
    padding: 6px;
}
.redmore{
    color:#FB2E86;
    text-decoration: underline;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size:12px ;
}


.footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #EEEFFB;
    padding: 40px 20px;
    margin-top: 40px;
}

.right-footer{
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 10px;
color: #8A8FB9;
font-size: 8px;
}
.hektoimg{
    width: 80px;
    height: 80px;
}
.email{
    display: flex;
}
.emailtype{
    color: rgba(138, 143, 185, 0.581);
    background-color: #FFFFFF;
    border: #FFFFFF;
    font-size: 12px;
    font-family: "Roboto", sans-serif;


}
.signup{
    background-color: #FB2E86;
    border: #FB2E86;
    color: #F1F0FF;
    padding: 6px 15px;
    font-family:"Roboto", sans-serif;
    font-size: 9px;
}

.left-footer{
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    font-family:"Edu AU VIC WA NT Pre", cursive;

}
.footcard{

display: flex;
flex-direction: column;
gap: 10px;
font-family:"Edu AU VIC WA NT Pre", cursive;
}
.footerh2{
    color:#000000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}
.footerlist{
    color: #8A8FB9;
    font-size: 9.5px;
    font-family:Edu AU VIC WA NT Pre", cursive;
}